:root {
    --moradoClaro: #E3DEEB;
    --moradoMedio: #C6BDD5;
    --moradoOscuro: #A799BE;
    --colorSecundario: #9ef0e2;

    --fuentePrincipal: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    background-color: var(--moradoClaro);
    margin: 0;
}

.contenedor {
    width: min(90%, 150rem);
    margin: 0 auto;
}

/* Header */

.header {
    background-color: var(--moradoOscuro);
    height: 10rem;
    box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 30%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 30%);
    margin-top: 3rem;
}

.title {
    font-size: 3.5rem;
    margin: 0 0 0 -25rem;
    color: white;
}

.icon {
    color: white;
    font-size: 3.5rem;
}

.search-icon {
    background-color: var(--moradoClaro);
    font-size: 2rem;
    border-radius: 0 1rem 1rem 0;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 30%);
    cursor: pointer;
    color: black;
}

.search-icon:hover {
    background-color: var(--colorSecundario);
    color: white;
}

.searching-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searching-bar-input {
    outline: none;
    border: none;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--moradoMedio);
    height: 3.5rem;
    width: 30rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 30%);
}

/* Contenido Principal */

.main {
    padding: 3rem;
    margin: 0 auto;
}

.chats-container {
    background-color: var(--moradoMedio);
    width: 100%;
    height: 50rem;
    padding: 3rem;
    margin: 3.5rem auto;
    border-radius: 1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 30%);
    overflow-y: auto;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 0 1rem 0;
}

.user-pic {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-top: 4.5rem;
    box-shadow: 0 .5rem .3rem rgba(0, 0, 0, 30%);

}

.user-name {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin: 0 0 1rem 0;
}

.chat-message {
    width: 90%;
}

.chat-content {
    background-color: var(--moradoClaro);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 30%);
}